html {
	font-size: 100%;
}

.light-theme {
	--game-bg: rgb(255, 216, 241);
	--title-underline: grey;
	--title: black;
	--choice-bg: rgb(255, 196, 233);
	--choice-text: black;
	--choice-hover-end: rgb(255, 190, 231);
	--choice-hover-mid: rgb(243, 161, 213);
	--choice-hover-border: black;
	--square-bg: rgb(255, 196, 233);
	--xo-text: black;
	--square-border: black;
	--theme-select-bg: rgb(255, 200, 235);
	--theme-button-bg: rgb(253, 170, 223);
	--theme-select-border: rgb(248, 130, 205);
	--theme-button-border: rgb(248, 130, 205);
	transition: all 500ms;
}

.light-theme.txt {
	text-shadow: none;
}

.dark-theme {
	--game-bg: rgb(32, 32, 32);
	--title-underline: grey;
	--title: rgb(221, 221, 221);
	--choice-bg: rgb(48, 48, 48);
	--choice-text: rgb(182, 182, 182);
	--choice-hover-end: rgb(61, 61, 61);
	--choice-hover-mid: rgb(41, 41, 41);
	--choice-hover-border: rgb(77, 76, 76);
	--square-bg: rgb(70, 70, 70);
	--xo-text: rgb(189, 189, 189);
	--square-border: black;
	--theme-select-bg: rgb(17, 17, 17);
	--theme-button-bg: rgb(253, 170, 223);
	--theme-select-border: rgb(248, 130, 205);
	--theme-button-border: rgb(248, 130, 205);
	transition: all 500ms;
}

.dark-theme .txt {
	/* text-shadow: 0 0 0.08em white, 0 0 0.25em #0395eb, 0 0 0.44em #0395eb,
		0 0 0.7em #0395eb; */

	text-shadow: 0 0 0.01em white, 0 0 0.1em #0395eb, 0 0 0em #0395eb,
		0 0 0.05em #0395eb;
	letter-spacing: normal;
	transition: all 150ms;
}

.dark-theme button.txt:hover,
.dark-theme button.txt:active {
	text-shadow: 0 0 0.05em white, 0 0 0.1em #0395eb, 0 0 0em #0395eb,
		0 0 0.05em #0395eb;
	font-weight: normal;
	letter-spacing: 0.1em;
}

.dark-theme .square.txt:hover,
.dark-theme .square.txt:active,
.dark-theme .square.txt:focus {
	font-weight: 400;
	font-size: 4.3em;
	letter-spacing: normal;
}

body {
	background: var(--game-bg);
	-webkit-text-size-adjust: 100%;
	/* trying stackoverflow fix for iOS browsers */
}

h1 {
	text-align: center;
	font-size: 2.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;

	margin: 0.1em auto 0.5em;
	width: 80%;
	border-bottom: 0.05em solid var(--title-underline);
	border-radius: 25%;
	padding: 5px;

	animation: load 200ms ease-in 1;
}

a {
	color: var(--title);
	text-decoration: none;
}

@keyframes load {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.description {
	text-align: center;
	animation: load 350ms ease-in 1;
	font-size: 2.3em;
	color: var(--choice-text);
	font-family: 'Quicksand', sans-serif;
}

/* .light-theme .description {
	font-family: 'Lora', sans-serif;
	transition: all 100ms;
}

.dark-theme .description {
	font-family: 'Quicksand', sans-serif;
	transition: all 100ms;
} */

#subheading {
	margin-top: 0.5em;
}

/* div of choice buttons  */
.choose {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.choice {
	font-size: 1.8em;
	width: auto;
	height: 4em;
	margin: 0.85em 0.5em 0.85em;
	cursor: pointer;
	padding: 1.2em;

	background-color: var(--choice-bg);
	color: var(--choice-text);
	border-radius: 20%;
	border: none;

	font-family: 'Quicksand', sans-serif;

	position: relative;

	transition: all 150ms;
}

/* .light-theme .choice {
	font-family: 'Lora', sans-serif;
	transition: all 200ms;
}

.dark-theme .choice {
	font-family: 'Quicksand', sans-serif;
	transition: all 200ms;
} */

/* animated underline on hover */
.choice::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 1.4em;
	left: 0;
	background-color: var(--choice-text);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 200ms ease-in-out;
	letter-spacing: normal;
}

.choice:hover::before,
.choice:active::before {
	visibility: visible;
	transform: scaleX(0.7);
}

.choice:hover,
.choice:active {
	animation: hoverButton 300ms ease 1;
	/* background-color: rgb(243, 161, 213); */
	background-color: var(--choice-hover-end);

	font-weight: bold;
	transition: letter-spacing 100ms;
	letter-spacing: 0.05em;
	border-bottom: 1px solid var(--choice-hover-border);
	/* transition: all 150ms; */
}

#online {
	margin-bottom: 20px;
}

@keyframes hoverButton {
	0% {
		background-color: var(--choice-bg);
		border: 0px solid var(--choice-hover-border);
	}
	20% {
		background-color: var(--choice-hover-mid);
		/* background-color: rgb(218, 107, 177); */
	}
	100% {
		background-color: var(--choice-hover-end);
		border-bottom: 1px solid var(--choice-hover-border);
	}
}

.game {
	display: none;
}

.fade-in {
	animation: load 200ms ease-in-out 1;
	transform: scaleX(1);
	display: block;
}

.off {
	transform: scaleX(0);
	transition: all 150ms;
	display: none;
}

#mode-choice {
	margin-top: 1em;
	font-size: 1.2em;
	text-decoration: underline;
	color: var(--choice-text);
}

#status {
	font-size: 2em;
	color: var(--choice-text);
}

.board {
	display: grid;
	grid-template-columns: 6em 6em 6em;
	grid-template-rows: 6em 6em 6em;
	justify-content: center;
}

/* @media only screen and (orientation: landscape) {
	.board {
		grid-template-columns: 16vh 16vh 16vh;
		grid-template-rows: 16vh 16vh 16vh;
	}
}

@media only screen and (orientation: portrait) and (max-width: 400px) {
	.board {
		grid-template-columns: 18vw 18vw 18vw;
		grid-template-rows: 18vw 18vw 18vw;
	}
} */

.square {
	font-size: 4em;
	transition: font-size 150ms;
	max-width: 6em;
	max-height: 6em;
}

/* .square {
	font-size: 2.8em;
}
.square:hover,
.square:active {
	font-size: 3em;
} */

/* My Safari 7.1+ CSS Hack (Formatted Example) */
/* Browser Strangeness */
_::-webkit-full-page-media,
_:future,
:root .square {
	font-size: 2.9em;
}

_::-webkit-full-page-media,
_:future,
:root .square:hover,
.square:active {
	font-size: 2.9em;
}

.square,
#replay {
	color: var(--xo-text);
	font-family: 'Montserrat', sans-serif;
	background-color: var(--square-bg);
	border: 1px solid var(--square-border);
	border-radius: 5%;
	cursor: pointer;
}

.square:hover,
#replay:hover,
.square:active,
#replay:active,
.square:focus,
#replay:focus {
	background-color: var(--choice-hover-end);
	animation: hoverButton 400ms ease-in-out 1;
	border: 1px solid var(--choice-hover-border);
}

.square:hover {
	transition: all 150ms;
	font-size: 4.3em;
}

#replay:hover,
#replay:active,
#replay:focus {
	animation: hoverButton 100ms ease-in-out 1;
	letter-spacing: 0.1em;
}

#replay {
	font-size: 1em;
	position: relative;
	left: 50%;
	transform: translate(-50%, 50%);
	margin-bottom: 20px;
}

.difficulty {
	display: none;
}

.difficulty.fade-in {
	display: block;
}

.choose-p {
	display: none;
	/* to exclude this p from the flexbox even though it's a child of the flex div */
	flex: 0 0 100%;
}

.theme-select {
	display: block;
	position: relative;
	/* border: 1px solid black; */
}

.theme-button {
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	width: 2em;
	height: 1em;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #646464;
	outline: none;
	border-radius: 1em;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 500ms;
	cursor: pointer;
}

.theme-button:checked {
	background: #0395eb;
}

.theme-button::before {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1);
	transition: 500ms;
}

.theme-button:checked::before {
	left: 1em;
}
