:root {
	--game-bg: rgb(255, 216, 241);
	--title-underline: grey;
	--title: black;
	--choice-bg: rgb(255, 196, 233);
	--choice-underline: black;
	--choice-hover-end: rgb(255, 190, 231);
	--choice-hover-mid: rgb(243, 161, 213);
	--choice-hover-border: black;
	--square-bg: rgb(255, 196, 233);
	--square-border: black;
	--square-hover-end: rgb(255, 190, 231);
	--theme-select-bg: rgb(255, 200, 235);
	--theme-button-bg: rgb(253, 170, 223);
	--theme-select-border: rgb(248, 130, 205);
	--theme-button-border: rgb(248, 130, 205);
}

body {
	background: var(--game-bg);
	-webkit-text-size-adjust: 100%;
	/* trying stackoverflow fix for iOS browsers */
}

h1 {
	text-align: center;
	font-size: 2.5em;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;

	margin: 0.1em auto 0.5em;
	width: 80%;
	border-bottom: 0.05em solid var(--title-underline);
	border-radius: 25%;
	padding: 5px;

	animation: load 200ms ease-in 1;
}

a {
	color: var(--title);
	text-decoration: none;
}

@keyframes load {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.description {
	text-align: center;
	animation: load 350ms ease-in 1;
	font-size: 2.3em;
	font-family: "Lora", sans-serif;
}

#subheading {
	margin-top: 1em;
}

/* div of choice buttons  */
.choose {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.choice {
	font-size: 1.8em;
	font-family: "Lora", sans-serif;
	width: auto;
	height: 4em;
	margin: 0.85em 0.5em 0.85em;
	cursor: pointer;
	padding: 1.2em;

	background-color: var(--choice-bg);
	border-radius: 20%;
	border: none;

	position: relative;
}

/* animated underline on hover */
.choice::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 1.4em;
	left: 0;
	background-color: var(--choice-underline);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 100ms ease-in-out;
}

.choice:hover::before,
.choice:active::before {
	visibility: visible;
	transform: scaleX(0.7);
}

.choice:hover,
.choice:active {
	animation: hoverButton 300ms ease 1;
	/* background-color: rgb(243, 161, 213); */
	background-color: var(--choice-hover-end);

	font-weight: bold;
	border-bottom: 1px solid var(--choice-underline);
}

#online {
	margin-bottom: 20px;
}

@keyframes hoverButton {
	0% {
		background-color: var(--choice-bg);
		border: 0px solid var(--choice-hover-border);
	}
	20% {
		background-color: var(--choice-hover-mid);
		/* background-color: rgb(218, 107, 177); */
	}
	100% {
		background-color: var(--choice-hover-end);
		border-bottom: 1px solid var(--choice-hover-border);
	}
}

.game {
	display: none;
}

.fade-in {
	animation: load 200ms ease-in-out 1;
	transform: scaleX(1);
	display: block;
}

.off {
	transform: scaleX(0);
	transition: all 150ms;
	display: none;
}

#mode-choice {
	margin-top: 1em;
	font-size: 1.2em;
	text-decoration: underline;
}

#status {
	font-size: 2em;
}

.board {
	display: grid;
	grid-template-columns: 6em 6em 6em;
	grid-template-rows: 6em 6em 6em;
	justify-content: center;
}

.square {
	font-size: 4em;
	max-width: 6em;
	max-height: 6em;
}

.square,
#replay {
	font-family: "Montserrat", sans-serif;
	background-color: var(--square-bg);
	border: 1px solid var(--square-border);
	border-radius: 5%;
	cursor: pointer;
}

.square:hover,
#replay:hover,
.square:active,
#replay:active,
.square:focus,
#replay:focus {
	background-color: var(--square-hover-end);
	animation: hoverButton 400ms ease-in-out 1;
}

#replay:hover,
#replay:active,
#replay:focus {
	animation: hoverButton 100ms ease-in-out 1;
}

#replay {
	font-size: 1em;
	position: relative;
	left: 50%;
	transform: translate(-50%, 50%);
}

.difficulty {
	display: none;
}

.difficulty.fade-in {
	display: block;
}

.choose-p {
	display: none;
	/* to exclude this p from the flexbox even though it's a child of the flex div */
	flex: 0 0 100%;
}

.theme-select {
	overflow: hidden;
	display: inline;
}

.theme-select::before {
	content: "";
	width: 3.8em;
	height: 1.5em;
	position: relative;
	display: block;
	left: 75%;
	transform: translateX(-50%);
	border: 2px solid;
	border-radius: 35%;

	background-color: var(--theme-select-bg);
	border-color: var(--theme-select-border);
}

.theme-button {
	content: "";
	cursor: pointer;
	height: 2.05em;
	width: 2.05em;
	position: absolute;
	display: inline;
	left: 75%;
	transform: translate(-50%, -100%);
	border: 0.2em solid var(--theme-button-border);
	border-radius: 45%;

	background-color: var(--theme-button-bg);
	transition: background-colour 200ms ease-out;
	/* transition: translate 200ms ease-in-out; */
	/* animation: bruh infinite 2000ms ease-in-out; */
}

@keyframes kk {
	to {
		transform: translate(-125%, -100%);
	}
}

@keyframes bruh {
	0% {
		/* left: 72%; */
		transform: translate(-125%, -100%);
	}

	25% {
		/* left: 75%; */
		transform: translate(-50%, -100%);
	}

	50% {
		/* left: 78%; */
		transform: translate(25%, -100%);
	}

	75% {
		/* left: 75%; */
		transform: translate(-50%, -100%);
	}

	100% {
		/* left: 72%; */
		transform: translate(-125%, -100%);
	}
}
